################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/TestMVC/Properties/PublishProfiles
/TestMVC/TestMVC.csproj.user
/TestMVC/TestMVC.csproj
/TestMVC/TestMVC - Backup.csproj
